<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../resources/static/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/static/css/common/header.css">
    <link rel="stylesheet" href="../../../resources/static/css/user/mypage.css">
</head>
<body>
    <header>
        <div>
            <div>
                <a id="logo" href="">
                    <img src="" alt="">
                    だんご🍡
                </a>
                <nav>
                    <a href="">새 단어</a>
                    <a href="">오답노트</a>
                    <a href="">단어장</a>
                    <a href="">사전</a>
                    <a href="">커뮤니티</a>
                </nav>
            </div>
            <a id="login" href="">로그인 / 회원가입</a>
        </div>
    </header>
    <section>
        <form action="">
            <p>회원정보</p>
            <div>
                <div id="text-div">
                    <div class="input-div">
                        <label for="name">이름</label>
                        <input id="name" type="text" placeholder="이름" required>
                    </div>
                    <div class="input-div">
                        <label for="email">이메일</label>
                        <input id="email" type="email" placeholder="이메일" required>
                    </div>
                    <div class="input-div">
                        <label for="phone">전화번호</label>
                        <input id="phone" type="tel" placeholder="전화번호" required>
                    </div>
                    <div class="input-div">
                        <label for="password">비밀번호</label>
                        <input id="password" type="password" placeholder="비밀번호" required>
                    </div>
                    <div class="input-div">
                        <label for="password2">비밀번호 확인</label>
                        <input id="password2" type="password" placeholder="비밀번호 확인" required>
                    </div>
                </div>
                <div id="profile-div">
					<label id="profile-label" for="profile">
						<img class="profile-img" src="../../../resources/static/image/profileDefault.jpg" alt="" />
						<img class="profile-img" />
					</label>
                    <input id="profile" type="file" />
                    <input type="hidden" id="profile-path" name="profile" >
				</div>
            </div>
            <div id="btn-group">
                <button class="btn" id="cancel" type="reset">취소</button>
                <button class="btn" id="save" type="submit">저장</button>
            </div>
        </form>
    </section>
    <script
		src="../../../resources/static/js/jquery.min.js"></script>
    <script>
        $("input[type=file]").on("change", function() {
			let formData = new FormData();
			formData.append("upload", $(this)[0].files[0]);
			console.log($(this)[0].files[0]);
			showUploadResult()
		})

		function showUploadResult(userProfile) {
			$($(".profile-img")[0]).attr("src",
					"/file/display?userProfile=" + userProfile);

			$("#profile-path").val(userProfile);
		}
    </script>
</body>
</html>