<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="../../../resources/static/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/static/css/common/header.css">
    <link rel="stylesheet" href="../../../resources/static/css/common/footer.css">
    <link rel="stylesheet" href="../../../resources/static/css/common/search.css">
    <link rel="stylesheet" href="../../../resources/static/css/community/community.css">
    
    <title>커뮤니티</title>
</head>
<body>
    <header>
        <div>
            <div>
                <a id="logo" href="">
                    <img src="" alt="">
                    たんご🍡
                </a>
                <nav>
                    <a href="">새 단어</a>
                    <a href="">오답노트</a>
                    <a href="">단어장</a>
                    <a href="">사전</a>
                    <a href="">커뮤니티</a>
                </nav>
            </div>
            <a id="login" href="">로그인 / 회원가입</a>
        </div>
    </header>

    <div class="Commu_box">
        <form>
        <div class="search_banner">
                <input class="search_bar" type="text" value="게시글 검색하기"><input class="search_button" type="submit">
                <input class="new_text" type="button" value="글쓰기">
        </div>
    </form>
        <div class="announ_box">
            <div class="title">
                <h2 class="title_name">공지사항</h2>
                <h3 class="title_more">더보기</h3>
            </div>
            <a class="textbox" href="">
                <div class="textbox_title">예시글1</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </a>
            <a class="textbox" href="">
                <div class="textbox_title">예시글2</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </a>
            <a class="textbox" href="">
                <div class="textbox_title">예시글3</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </a>
            <a class="textbox" href="">
                <div class="textbox_title">예시글4</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </a>
            <a class="textbox" href="">
                <div class="textbox_title">예시글5</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </a>
            <div style="width: 100%; height: 50px;"></div>
        </div>
        <div class="announ_box">
            <div class="title">
                <h2 class="title_name">자유게시판</h2>
                <h3 class="title_more">더보기</h3>
            </div>
            <div class="textbox">
                <div class="textbox_title">예시글1</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </div>
            <div class="textbox">
                <div class="textbox_title">예시글2</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </div>
            <div class="textbox">
                <div class="textbox_title">예시글3</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </div>
            <div class="textbox">
                <div class="textbox_title">예시글4</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </div>
            <div class="textbox">
                <div class="textbox_title">예시글5</div>
                <div class="textbox_info">
                    <div style="margin-left: 10px;">2023/11/15</div>
                    <div style="margin-left: 10px;">30</div>
                    <div style="margin-left: 10px;">0</div>
                </div>
            </div>
            <div style="width: 100%; height: 50px;"></div>
        </div>
    </div>
    <footer>
        <div class="footer_Box">
        <a id="logo" href="">
                    <img src="" alt="">
                    たんご🍡
        </a>
        <p>
            <span>팀명 : DanGo</span><br>
            <span>팀원 : 김태현, 권오상, 문현민, 심효섭</span><br>
            <span>Corpyright 2023. All Rights Reserved</span>
        </p>
        </div>
    </footer>
</body>
</html>