<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="../../../resources/static/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/static/css/common/header.css">
    <link rel="stylesheet" href="../../../resources/static/css/login/login.css">
</head>
<body>
    <div class="login_area">
        <div class="login_page">
            <div class="login_logo">
                <a id="logo" href="">
                    <img src="" alt="">
                    たんご🍡
                </a>
            </div>
            <h1 class="login_title">
                일본어 단어<br>
                학습 사이트
            </h1>
            <div class="login_input">
                <h2>아이디</h2>
                <input class="login_inputbox" type="text" value="아이디" style="color: rgb(196, 196, 196);">
            </div>
            <div class="login_input">
                <h2>비밀번호</h2>
                <input class="login_inputbox" type="text" value="비밀번호" style="color: rgb(196, 196, 196);">
            </div>
            <div class="login_buttonarea">
                <input class="login_button1" value="로그인" type="submit">
                <input class="login_button2" value="회원가입" type="button">
            </div>
            <div class="login_bottom">
                <a href="" class="login_id">아이디 찾기</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" class="login_password">비밀번호 찾기</a>
            </div>
        </div>
    </div>
</body>
</html>