<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="../../../resources/static/css/common/reset.css">
    <link rel="stylesheet" href="../../../resources/static/css/common/header.css">
    <link rel="stylesheet" href="../../../resources/static/css/login/register.css">
</head>
<body>
    <div class="register_area">
        <div class="register_page">
            <div class="register_logo">
                <a id="logo" href="">
                    <img src="" alt="">
                    たんご🍡
                </a>
                <h1 class="register_title">회원가입</h1>
            </div>
            <div class="register_input">
                <h2 class="register_input_font">아이디</h2>
                <input class="register_input_input" type="text" placeholder="  아이디를 6자 이상으로 설정해주세요.">
                <h2 class="register_input_warning">아이디를 6자 이상으로 설정해주세요.</h2>
            </div>
            <div class="register_input">
                <h2 class="register_input_font">비밀번호</h2>
                <input class="register_input_input" type="text" placeholder="  비밀번호를 8자 이상으로 설정해주세요.">
                <h2 class="register_input_warning">비밀번호를 8자 이상으로 설정해주세요.</h2>
            </div>
            <div class="register_input">
                <h2 class="register_input_font">비밀번호 재확인</h2>
                <input class="register_input_input" type="text" placeholder="  비밀번호를 재확인 해주세요.">
                <h2 class="register_input_warning">비밀번호를 재확인 해주세요.</h2>
            </div>
            <div class="register_input">
                <h2 class="register_input_font">이름</h2>
                <input class="register_input_input" type="text" placeholder="  이름을 입력해 해주세요.">
                <h2 class="register_input_warning">이름을 입력해 해주세요.</h2>
            </div>
            <div class="register_input">
                <h2 class="register_input_font">이메일</h2>
                <input class="register_input_input" type="text" placeholder="  이메일을 양식에맞게 입력해 해주세요.">
                <h2 class="register_input_warning">이메일을 양식에맞게 해주세요.</h2>
            </div>
            <div class="register_input">
                <h2 class="register_input_font">전화번호</h2>
                <input class="register_input_input" type="text" placeholder="  전화번호를 입력해 해주세요.">
                <h2 class="register_input_warning">전화번호를 입력해 해주세요.</h2>
            </div>
            <div class="register_agreed">
                <h2 class="register_agreed_font">이용약관 동의</h2>
            </div>
        </div>
    </div>
</body>
</html>