<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.dango.mapper.community.BoardMapper">
	<insert id="boardInsert">
		INSERT INTO T_BOARD 
		(BOARDID, BOARDTITLE, USERID, BOARDMAIN, BOARDNOTICE, BOARDREGISTERDATE, BOARDUPDATEDATE) 
		VALUES 
		(#{boardId}, #{boardTitle}, #{userId}, #{boardMain}, #{boardNotice}, #{boardRegisterdate}, #{boardUpdatedate})
	</insert>
	
	<delete id="boardDelete">
		DELETE FROM T_BOARD 
		WHERE BOARDID=#{boardId}
	</delete>
	
	<update id="boardUpdate">
		UPDATE T_BOARD SET 
		BOARDTITLE=#{boardTitle}, BOARDMAIN=#{boardMain} 
		WHERE BOARDID=#{boardId}
	</update>
	
	<select id="getBoard" resultType="BoardVO">
		SELECT * FROM T_BOARD 
		WHERE BOARDID=#{boardId}
	</select>	
	
	<select id="getBoardList" resultType="BoardVO">
		SELECT * FROM T_BOARD 
		ORDER BY BOARDID DESC
	</select>	
	
	<select id="searchForTitle" resultType="BoardVO">
		SELECT * FROM T_BOARD 
		WHERE BOARDTITLE 
		LIKE '%'||#{boardTitle}||'%' 
		ORDER BY BOARDID DESC
	</select>	
	
	<select id="searchForUser" resultType="BoardVO">
		SELECT * FROM T_BOARD 
		WHERE USERID 
		LIKE '%'||#{userId}||'%' 
		ORDER BY BOARDID DESC
	</select>
	
	<select id="communitySearch"
</mapper>