<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.dango.mapper.community.CommentMapper">
	<insert id="addComment">
		INSERT INTO T_COMMENT 
		(COMMENTID, COMMENTMAIN, USERID, BOARDID, COMMENTREGISTERDATE, COMMENTUPDATEDATE) 
		VLAUES 
		(#{commentId}, #{commentMain}, #{userId}, #{boardId}, #[commentRegisterdate}, #{commentUpdatedate}])
	</insert>	
	
	<delete id="deleteComment">
		DELETE FROM T_COMMENT 
		WHERE COMMENTID=#{commentId}
	</delete>	
	
	<update id="updateComment">
		UPDATE T_COMMENT SET COMMENTMAIN=#{commentMain}, commentUpdatedate=sysdate 
		WHERE 
		COMMENTID=#{commentId}
	</update>
	
	<select id="getComment" resultType="CommentVO">
		SELECT * FROM T_COMMENT 
		WHERE COMMENTID=#{commentId}
	</select>	
	
	<select id="getCommentList" resultType="CommentVO">
		SELECT * FROM T_COMMENT 
		ORDER BY COMMENTID DESC
	</select>
</mapper>