<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeteam.dango.mapper.community.ScrapMapper">
	<insert id="addScrap">
		INSERT INTO T_SCRAP 
		(SCRAPID, USERID, BOARDID, SCRAPREGISTERDATE, SCRAPUPDATEDATE) 
		VALUES
		({#scrapId}, #{userId}, #{boardId}, #{scrapRegisterdate}, #{scrapUpdatedate})
	</insert>
	
	<delete id="deleteScrap">
		SELETC * FROM T_SCRAP 
		ORDER BY SCARPID 
		DESC
	</delete>
	
	<select id="getScrap" resultType="ScrapVO">
		SELECT * FROM T_SCRAP 
		WHERE SCRAPID=#{scrapId}
	</select>
	
	<select id="getScrapList" resultType="ScrapVO">
		SELECT * FROM T_SCRAP 
		ORDER BY SCRAPID 
		WHERE USERID=#{userId} DESC
	</select>
</mapper>