.Postbox{
    margin:auto;
    margin-top:100px;
    width:1200px;
}
.Postmain{
    margin:10px;
    margin-top:40px;
    border:2px solid #e6e6e6;
    height:auto; width: 100%;
    border-radius: 5px;
}
.Post{
    margin:30px;
}
.PostHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.PostHeaderButtonGroup{
    margin: 10px;
}
.PostHeaderButtonRemove{
    width: 50px;
    height: 32px;
    border: 1px solid rgb(209, 209, 209);
    text-align: center;
}
.PostHeaderButtonRemove:hover{
    border: 1px solid rgb(255, 99, 99);
    color: rgb(255, 99, 99);
    transition: 0.5s;
}
.PostHeaderButtonEdit{
    background-color:#e22938;
    color: white;
    border: none;
    width: 50px;
    height: 32px;
}
.PostHeaderButtonEdit:hover{
    background-color:#e94754;
    transition: 0.5s;
}
.Posttype{
    margin: auto 0;
    font-size:18px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
    color: #727272;
}
.Posttitle{
    margin:5px;
    margin-top:30px;
    font-size:22px;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.postinfo{margin:15px;
    margin-bottom:8px;
    display:flex;
    justify-content:space-between;
    color:#727272;
}
.postcontent{
    margin:25px;
    font-size:14px;
    font-weight:700;
}
.postcomment{
    display:block;
    margin:10px;
    margin-left:20px;
    border: 1px solid #afafaf; width: 640px;}
.postcomment_c{
    margin:15px 10px 5px 15px;
    width: 90%;
    border:none;
    overflow:hidden;
    box-sizing:border-box;
    resize: none;
}
.postcomment_b{
    margin-left:15px;
    margin-bottom:20px;
    width: 150px;
    height: 30px;
    background-color:#d83b3b;
    border:none;
    color:#ffffff;
}
.subpost{
    margin: 20px;
}







