#container {
	display: table;
	table-layout: fixed;
	height: 100%;
	margin: 162px 10px -364px 10px;
	padding: 20px 400px 0px 450px;
	align-items: center;
}

#content {
	display: table-cell;
	width: 80%;
    vertical-align: top;
}

.voca_view {
	margin: 35px 0 -14px;
}

.voca_viewinfo {
    display: table;
    table-layout: fixed;
    margin: 15px 0 -14px;
    border-spacing: 15px;
}

.voca_viewBox {
	display: table;
    table-layout: fixed;
    width: 90%;
    margin: 15px 0 -14px;
    border-collapse: separate;
    border-spacing: 15px;
    border: 3px solid #FFE3EE;
    border-radius: 8px;
    padding: 0;
    text-align: center;
    line-height: 4;
}
