#container {
	margin-top: 100px;
    margin-bottom: 100px;
}

#content {
	margin: 0 auto;
    width: 1080px;
}

.voca_view {
	margin: 35px 0 -14px;
}

.voca_viewinfo {
    display: table;
    table-layout: fixed;
    margin: 15px 0 -14px;
    border-spacing: 15px;
}

.voca_viewBox {
	display: table;
    table-layout: fixed;
    width: 90%;
    margin: 15px 0 -14px;
    border-collapse: separate;
    border-spacing: 15px;
    border: 3px solid #FFE3EE;
    border-radius: 8px;
    padding: 0;
    text-align: center;
    line-height: 4;
}
