<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
<link rel="stylesheet" href="../../../resources/static/css/common/reset.css">
<link rel="stylesheet" href="../../../resources/static/css/common/header.css">
<link rel="stylesheet" href="../../../resources/static/css/common/footer.css">
<link rel="stylesheet" href="../../../resources/static/css/common/search.css">
<link rel="stylesheet" href="../../../resources/static/css/dictionary/dictionarySearch.css">
<link rel="stylesheet" href="../../../resources/static/css/dictionary/dictionaryFont.css">
</head>
<body>

<header>
    <div>
        <div>
            <a id="logo" href="">
                <img src="" alt="">
                たんご🍡
            </a>
            <nav>
                <a href="">새 단어</a>
                <a href="">오답노트</a>
                <a href="">단어장</a>
                <a href="">사전</a>
                <a href="">커뮤니티</a>
            </nav>
        </div>
        <a id="login" href="">로그인 / 회원가입</a>
    </div>
</header>

<section id="container" class="wrapper">
	<div id="content">
		<div class="search_view">
			<div class="search_viewBox">
			<p class="sentence_JP">일본어 사전</p>
				<form>
				<input type="text" class="search input">
				<button type="submit">검색</button>
				</form>
			</div>
		</div>
		
		<div id="voca_view">
			<h3>수준 : N1</h3>
			<div class="voca_viewBox">
				<div class="mean">
					<p class="sentence_JP">へこ-む [凹む]</p>
					<p>뜻 : 1.욱다;움푹 패다 2.굴복하다;찌부러지다 3.밑지다</p>
				</div>
				<hr>
				<div id="ex_sentence">
					<p class="sentence_JP">예문</p>
					<p>道路どうろがぽこっとへこむ</p>
					<p>どうろ どうろがぽこっとへこむ</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="footer_Box">
	<a id="logo" href="">
                <img src="" alt="">
                たんご🍡
    </a>
	<p>
		<span>팀명 : DanGo</span><br>
		<span>팀원 : 김태현, 권오상, 문현민, 심효섭</span><br>
		<span>Corpyright 2023. All Rights Reserved</span>
	</p>
	</div>
</footer>

</body>
</html>