<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>사전</title>
<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
<link rel="stylesheet" href="../../../resources/static/css/common/reset.css">
<link rel="stylesheet" href="../../../resources/static/css/common/header.css">
<link rel="stylesheet" href="../../../resources/static/css/common/footer.css">
<link rel="stylesheet" href="../../../resources/static/css/common/search.css">
<link rel="stylesheet" href="../../../resources/static/css/dictionary/dictionaryFont.css">
<link rel="stylesheet" href="../../../resources/static/css/dictionary/dictionaryList.css">
</head>
<body>

<header>
    <div>
        <div>
            <a id="logo" href="">
                <img src="" alt="">
                たんご🍡
            </a>
            <nav>
                <a href="">새 단어</a>
                <a href="">오답노트</a>
                <a href="">단어장</a>
                <a href="">사전</a>
                <a href="">커뮤니티</a>
            </nav>
        </div>
        <a id="login" href="">로그인 / 회원가입</a>
    </div>
</header>

<section id="container" class="wrapper">
	<div id="content">
		<div>
			<form class="search_box">
				<fieldset id="search_area">
					<input type="search" placeholder="일본어 검색" class="search_input">
					<button type="submit" value="검색" class="search_button"><i class="fa fa-search"></i></button>
				</fieldset>
			</form>
		</div>
			
		<div id="dictionary_area">
			<div class="voca" href="">
				<div class="word">
					<a class="furigana">あそぶ</a>
					<p class="kanji">【遊ぶ】</p>
				</div>
				<p class="mean">놀다</p>
			</div>
			<div class="voca" href="">
				<div class="word">
					<a class="furigana">あそぶ</a>
					<p class="kanji">【遊ぶ】</p>
				</div>
				<p class="mean">놀다</p>
			</div>
			<div class="voca" href="">
				<div class="word">
					<a class="furigana">あそぶ</a>
					<p class="kanji">【遊ぶ】</p>
				</div>
				<p class="mean">놀다</p>
			</div>
			<div class="voca" href="">
				<div class="word">
					<a class="furigana">あそぶ</a>
					<p class="kanji">【遊ぶ】</p>
				</div>
				<p class="mean">놀다</p>
			</div>
			<div class="voca" href="">
				<div class="word">
					<a class="furigana">あそぶ</a>
					<p class="kanji">【遊ぶ】</p>
				</div>
				<p class="mean">놀다</p>
			</div>
		</div>
	</div>
</section>

<footer>
	<div class="footer_Box">
	<a id="logo" href="">
                <img src="" alt="">
                たんご🍡
    </a>
	<p>
		<span>팀명 : DanGo</span><br>
		<span>팀원 : 김태현, 권오상, 문현민, 심효섭</span><br>
		<span>Corpyright 2023. All Rights Reserved</span>
	</p>
	</div>
</footer>
</body>
</html>