<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
<link rel="stylesheet" href="../../../resources/static/css/common/reset.css">
<link rel="stylesheet" href="../../../resources/static/css/common/header.css">
<link rel="stylesheet" href="../../../resources/static/css/common/footer.css">
<link rel="stylesheet" href="../../../resources/static/css/dictionary/dictionary.css">
</head>
<body>

<header>
    <div>
        <div>
            <a id="logo" href="">
                <img src="" alt="">
                たんご🍡
            </a>
            <nav>
                <a href="">새 단어</a>
                <a href="">오답노트</a>
                <a href="">단어장</a>
                <a href="">사전</a>
                <a href="">커뮤니티</a>
            </nav>
        </div>
        <a id="login" href="">로그인 / 회원가입</a>
    </div>
</header>

<div id="container" class="wrapper">
	<div id="content">
		<div id="conversation_view">
			<h3>오늘의 회화</h3>
			<div class="conversation_viewBox">
				<h3>안녕하세요</h3>
				<h3>뜻 : 안녕하세요</h3>
			</div>
		</div>
		
		<div id="jlptword_view">
		<h2>JLPT단어</h2>
			<div class="jlptword_viewBox">
				<div class="jlptword_viewBox1">
					<h2>N1급</h2><br>
					<div>
						<h3>創立</h3>
						<h3>そうりつ</h3>
						<h3>창립</h3>
					</div>
				</div>
				
				<div class="jlptword_viewBox2">
					<h2>N2급</h2><br>
					<div>
						<h3>液体</h3>
						<h3>えきたい</h3>
						<h3>액체</h3>
					</div>
				</div>
		</div>
	</div>
	
	<div id="community_view">
		<div>
			<h2>커뮤니티</h2><br>
			<div class="conversation_viewBox">
				<h3>게시번호 &nbsp; &nbsp; &nbsp; &nbsp; 작성자 &nbsp; &nbsp; &nbsp; &nbsp; 글 제목 </h3>
				<h3>---</h3>
				<h3>---</h3>
				<h3>---</h3>
				<h3>---</h3>
				<h3>---</h3>
			</div>
		</div>
	</div>
	
	</div>
	
	<div id="aside">
		<div class="aside_left">
		<h3>오늘의 단어장</h3>
		<div class="daily10word">
			<div class="dailyword_Box">
				<h3>液体</h3><br>
				<h3>無駄</h3><br>
				<h3>刑事</h3><br>
				<h3>罰する</h3><br>
				<h3>老人</h3><br>
				<h3>物知り</h3><br>
				<h3>豆</h3><br>
				<h3>煮る</h3><br>
				<h3>強烈</h3><br>
				<h3>黙る</h3><br>
			</div>
		</div>
		
		
		</div>
		
	</div>
</div>

<footer>
	<a id="logo" href="">
                <img src="" alt="">
                たんご🍡
    </a>
	<p>
		<span>팀명 : DanGo</span><br>
		<span>팀원 : 김태현, 권오상, 문현민, 심효섭</span><br>
		<span>Corpyright 2023. All Rights Reserved</span>
	</p>
</footer>

</body>
</html>